.weather-input {
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 1;
  min-width: 26vw;
  max-width: 40vw;
}

.weather-input__input {
  padding: 12px;
  width: 100%;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.weather-panel {
  background: #fff;
  width: 100%;
  overflow: hidden;
  text-align: center;
}